.background {
  background-position-x: center;
  background-image: url(./img/Header-llustration-desktop.svg);
  background-repeat: no-repeat;
  height: 1037px;
}

.headline span {
  color: #36b37e;
}
 .card-body li{
  background: #EBF0EE;
 }

 .about{
  background-image: url(./img/illustration-about-me-desktop.svg);
 }