.background {
  background-position-x: center;
  background-image: url(./img/Header-llustration-desktop.svg);
  background-repeat: no-repeat;
  height: 1037px;
}

.headline span {
  color: #36b37e;
}
.card-body li {
  background: #ebf0ee;
}

.about {
  background-image: url(./img/illustration-about-me-2-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: left;
}

.about-2 {
  background-image: url(./img/illustration-about-me-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.card-2-body {
  background: #ebf0ee;
}

#card-2-title {
  color: #344563;
}

.card-2-body li {
  background: #fff;
}

.card-2-body span {
  color: #36b37e;
}

#form-button {
  background: #36b37e;
}

#card-icon {
  background-color: #ebf0ee;
}

#form-paragraph {
  color: #344563;
}

#contact-form {
  background-image: url(./img/contact-form-illustratoin-right-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
}

#contact-form-2 {
  background-image: url(./img/contact-form-illustratoin-left-desktop.svg);
  background-repeat: no-repeat;
  background-position: left;
}
